<h1>Hello World!</h1>
<a href=<%= "https://clever.com/oauth/authorize?response_type=code&client_id=#{ENV['CLEVER_CLIENT_ID']}&redirect_uri=http%3A%2F%2Flocalhost%3A9393/clever_login&district_id=586ab58e66da360001c74b06"%> alt="Log in with Clever"><img src="https://s3.amazonaws.com/assets.clever.com/sign-in-with-clever/sign-in-with-clever-full.png" /></a>
